{% extends 'base.html' %}

{% block start %}
<div class="home-container">
    <h1 class="text-center">Home</h1>
    <div class="first-box">
        <h2>adminstrations</h2>
        <a href="./ad/new-admin"><button type="button">New adminstrations</button></a>
        <a href="./ad/admreport"><button type="button">Student adminstrations Report</button></a>
    </div>
    <div class="second-box">
        <h2>adminstrations</h2>
        <a href="./fin/fin-finanace"><button type="button">Finance</button></a>
        <a href="./fin/stafffinanace"><button type="button">Staff-finance</button></a>
    </div>
    <div>
        
    </div>

</div>




{% endblock %}